/* ContactList.module.css */

.sub-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.listParams {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.listParams h2 {
  font-size: 1.5rem;
  color: #333;
}

.listParams p {
  font-size: 1rem;
  color: #555;
}

.contactsList {
  list-style-type: none;
  padding: 0;
}

.contactsList li {
  margin-bottom: 10px;
}

.contactsList li:last-child {
  margin-bottom: 0;
}
